table {
    width: 900px;
    /* background-color: #16132b; */
    /* border-spacing: 40px; */
}

caption {
    text-align: left;
    width: 300px;
    font-weight: 700;
    font-size: large;
}

th,
td {
    color: #ddd;
    text-align: left;
}

table,
th,
td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #271c66;
}

tr:nth-child(odd) {
    background-color: #2e1c94;
}


/* Sidebar CSS */

.aside {
    width: 500px;
    /* background-color: aqua; */
    margin-top: 25px;
    margin-left: 25px;
}

.hobbie {
    /* background-color: red; */
}

.activities {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    color: rgb(58, 55, 55);
    /* background-color: green; */
}

.acts {
    padding: 15px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.icon {
    padding-right: 30px;
}

.tracking {
    /* background-color: blue; */
}

.remarking {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}